.blur{
    transition: 1s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    z-index: 10;
    position: absolute;
    margin: 0;

    .loader{
        margin: auto;
    }
}

*:has(>.blur){
    position: relative;
    pointer-events: none;
}